<div class="container" ng-controller="blogController">
	<div class="row">
		<div class="main1">
			<h3>Show Blog</h3>
			
		<table class="table table-bordered">
		
		<tr class="success">
		<td>Blog Id</td>
		<td>Blog Name</td>
		<td>Created By</td>
		<td>Date</td>
		<td>Operation</td>
		</tr>
		
		<tr ng-repeat="blog in blogDetail">
	  <td>{{blog.blogid}}</td>
	  <td>{{blog.blogname}}</td>
	  <td>{{blog.username}}</td>
	  <td>{{blog.createdate}</td>
	  
	  <td>
	  <span ng-show="blog.status='R'">
	  <input type="button" value="Accept" class="btn btn-info" ng-click="accept(blog.blogid)" />
	  </span>
	  <span ng-show="blog.status='NA'">
	  <input type="button" value="Reject" class="btn btn-danger" ng-click="reject{blog.blogid"/>
	  </span>
	  </td>
	  </tr>
		</table>
	   </div>
   </div>
</div>