<div ng-controller="ForumController">
<form>

	<h3>Add Forum</h3>
			<div>
				<div>
					<span class="input-group-addon"><i class="fa fa-user"></i></span>		
		     			<input type="text" class="form-control" ng-model="forum.forumcontains" name="username" placeholder="Forum Content" required="required"/>
						</div>
					</div>
					<div>
						<button type="submit"  ng-click="add(forum)" class="btn btn-primary btn-block btn-lg">Submit</button>
				</div>
				
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<span ng-show="forum.username==currentUser.username">
				
					<img src ="delete.jpg" width="20" height="20" ng-click="delete(forum.forumid)"/>
					
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					
					<img src ="edit.png" width="20" height="20" ng-click="editForum(forum)"/>
					</span>
					
					<div id="{{forum.forumid}}">
					{{forum.forumcontains}}
					</div>
				
			</form>
       </div>